# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/

# Env
.env
.env.local
.env.*.local

# Testing
coverage/
playwright-report/
test-results/

# Supabase
supabase/.branches/
supabase/.temp/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
